<?xml version="1.0"?>
<launch>

    <include file="$(find vectornav)/launch/vectornav.launch"/>
    <include file="$(find gps_trimble)/launch/gps_trimble.launch"/>
    <include file="$(find hdl_grabber)/launch/show_velodyne_live.launch" />
    <include file="$(find canbus)/launch/canbus.launch" />
    
</launch>
