<?xml version="1.0"?>
<launch>

    <!--

  Grabar el topic del Velodyne 
  <node name="velodyne_recorder" pkg="rosbag" type="record" args="-O velodyne.bag /velodyne_points" output="screen" />
 

  Grabar el topic de la IMU
  <node name="imu_recorder" pkg="rosbag" type="record" args="-O imu.bag /vectornav/IMU" output="screen" />

  Grabar el topic del GPS
  <node name="gps_recorder" pkg="rosbag" type="record" args="-O gps.bag /trimble/fix" output="screen" />

  Grabar el topic del CANBUS y el topic de las cámaras
  <node name="canbud_recorder" pkg="rosbag" type="record" args="-O canbus.bag /data" output="screen" />
  -->

  <!-- Grabar los topics de los drivers en un mismo bag  -->
<node name="record_bag" pkg="rosbag" type="record" args="-O prueba.bag /velodyne_points /vectornav/IMU /trimble/fix /data" output="screen"/>


    
</launch>
